* {
    margin: 0px;
    padding: 00px;
    font-family: "Courier New", Courier, monospace;
}

.calculator {
    padding: center;
    margin-left: 25%;
    margin-top: 3%;
}

.title {
    padding-left: 40%;
    margin-top: 2%;
    font-family: Verdana;
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;
}