<div name="calc" class="calculator">
    <button class="button" (click)="oneOp('per')"> % </button>
    <button class="clear" (click)="C()"> C </button>
    <button class="clear" (click)="C()"> CE </button>
    <button class="button" (click)="del()"> ⌫ </button>
    <button class="button" (click)="oneOp('mulInv')"> 1/x </button>
    <button class="button" (click)="oneOp('pow2')"> x^2 </button>
    <button class="button" (click)="oneOp('sqrt')"> sqrt(x) </button>
    <button class="button" (click)="twoOp('/')"> / </button>
    <button class="button" (click)="number('7')"> 7 </button>
    <button class="button" (click)="number('8')"> 8 </button>
    <button class="button" (click)="number('9')"> 9 </button>
    <button class="button" (click)="twoOp('*')"> * </button>
    <button class="button" (click)="number('4')"> 4 </button>
    <button class="button" (click)="number('5')"> 5 </button>
    <button class="button" (click)="number('6')"> 6 </button>
    <button class="button" (click)="twoOp('_')"> - </button>
    <button class="button" (click)="number('1')"> 1 </button>
    <button class="button" (click)="number('2')"> 2 </button>
    <button class="button" (click)="number('3')"> 3 </button>
    <button class="button" (click)="twoOp('+')"> + </button>
    <button class="button" (click)="number('0')"> 0 </button>
    <button class="button" (click)="point()"> . </button>
    <button class="button" (click)="oneOp('neg')"> +/- </button>
    <button class="equal" (click)="equ()"> = </button>
</div>